body.main{
    background-image: url("img/back.jpg");
}
.picPrague {
	margin-left: 5%;
}

img.picDomStr{
    margin: 10px;
}
.text{
    text-align: justify;
}
.frmDiv{ 
	position: absolute; 
	margin-top: 50px; 
	border: none; 
	margin-left: 5%; 
	height: 93%; 
	width: 87%; 
	z-index: 1;
} 

iframe{ 
	position: relative; 
	width: 100%; 
	height: 100%; 
	border: none; 
	background-color: #EEDC9D; 
}
.dropdownMenu{
    margin-left: 5%;
}
/* Dropdown Button animation */
.dropbtn {
    background-color: #1F0B6A;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn span {
    display: inline-block;
    position: relative;
    transition: 0s;
}

.dropbtn span:after {
    content: '\25bc';
    position: absolute;
    opacity: 0;
    top: 18px;    
    left: 0;
    right: -20px;
    transition: 0.5s;
}
  
.dropbtn:hover span {
    top: -5px;
    transition: 0.3s;
}
  
.dropbtn:hover span:after {
    opacity: 1;
    right: 0;
}

/* Without dropdown menu */ 
.btn{ 
position: relative; 
background-color: #1F0B6A; 
border: none; 
font-size: 16px; 
color: #FFFFFF; 
padding: 16px; 
text-align: center; 
-webkit-transition-duration: 0.4s; /* Safari */ 
transition-duration: 0.4s; 
text-decoration: none; 
overflow: hidden; 
cursor: pointer; 
} 

.btn:hover { 
background-color: rgb(78, 214, 255); 
color: black; 
} 

.btn:after { 
content: ""; 
background: #90EE90; 
display: block; 
position: absolute; 
padding-top: 300%; 
padding-left: 350%; 
margin-left: -20px!important; 
margin-top: -120%; 
opacity: 0; 
transition: all 0.8s 
} 

.btn:active:after { 
padding: 0; 
margin: 0; 
opacity: 1; 
transition: 0s 
}

.dropdown1 {
    float: left;
}

.dropdown2 {
    float: left;
}
.dropdown3 {
    float: left;
}
.dropdown4 {
    float: left;
}
.dropdown5 {
    float: left;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: gainsboro;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
    background-color: rgb(78, 214, 255);
    color: black;
}

.dropdown1:hover .dropdown-content{
    display: block;
}
.dropdown2:hover .dropdown-content{
    display: block;
}
.dropdown3:hover .dropdown-content{
    display: block;
}
.dropdown4:hover .dropdown-content{
    display: block;
}
.dropdown5:hover .dropdown-content{
    display: block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


